.cart_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 35px;
  background: var(--secondary-accent-color);
  border-radius: 25px;
  padding: 25px;
}

.cart_header_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.conclusion_currency_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}


