.cart_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 35px;
  background: var(--secondary-accent-color);
  border-radius: 25px;
  padding: 25px;
}

.cart_header_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart_header_wrapper > span {
  position: relative;
  transition: all 0.3s ease;
}

.cart_header_wrapper > span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background: var(--secondary-accent-color);
  left: 0;
  bottom: -0.3rem;
  transition: width 0.5s ease;
}

.cart_header_wrapper > span:hover::after {
  width: 100%;
  height: 0.3rem;
}

.conclusion_currency_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}


