.info_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 35px;
  background: var(--secondary-accent-color);
  border-radius: 25px;
  padding: 25px;
}
.input_wrapper {
  display: flex;
  align-items: center;
  max-width: 800px;
  gap: 15px;
}
